node_modules/
react-app/node_modules/
react-app/backend/.venv/
/.venv
*.pyc
__pycache__/
.pytest_cache/
.DS_Store
.env
env/
venv/
/.idea/
.vscode/
uploads/
instance/
*.db
*.sqlite
DockerDesktopInstaller.exe
db_dump.txt
db_output.txt
.md
*.log
